<div class="container">

  <!-- <form >
    <fieldset class="form-group" class="col-md-6">
      <label>Username</label>
      <input type="text" [(ngModel)]="username" class="form-control" name="username" required="required">
    </fieldset>

    <fieldset class="form-group" class="col-md-6">
      <label>First Name</label>
      <input type="text" [(ngModel)]="firstName" class="form-control" name="firstName" required="required">
    </fieldset>

    <fieldset class="form-group" class="col-md-6">
      <label>Last Name</label>
      <input type="text" [(ngModel)]="lastName" class="form-control" name="lastName" required="required">
    </fieldset>

    <fieldset class="form-group" class="col-md-6">
      <label>Email</label>
      <input type="text" [(ngModel)]="email" class="form-control" name="email" required="required">
    </fieldset>

    <fieldset class="form-group" class="col-md-6">
      <label>Date of birth</label>
      <input type="password" [(ngModel)]="dateOfBirth" class="form-control" name="password" required="required">
    </fieldset>

    <fieldset class="form-group" class="col-md-6">
      <label>Phone number</label>
      <input type="text" [(ngModel)]="phone" class="form-control" name="password" required="required">
    </fieldset><br>

    <button class="btn btn-success" (click)=update()>Update</button>

  </form> -->

  <form>
    <fieldset class="form-group" class="col-md-6">
      <label>Id</label>
      <input type="text" [(ngModel)]="id" class="form-control" name="id" required="required" readonly>
    </fieldset>

    <fieldset class="form-group" class="col-md-6">
      <label>Username</label>
      <input type="text" [(ngModel)]="username" class="form-control" name="username" required="required" readonly>
    </fieldset>

    <fieldset class="form-group" class="col-md-6">
      <label>First Name</label>
      <input type="text" [(ngModel)]="firstName" class="form-control" name="firstName" required="required">
    </fieldset>

    <fieldset class="form-group" class="col-md-6">
      <label>Last Name</label>
      <input type="text" [(ngModel)]="lastName" class="form-control" name="lastName" required="required">
    </fieldset>

    <fieldset class="form-group" class="col-md-6">
      <label>Email</label>
      <input type="text" [(ngModel)]="email" class="form-control" name="email" required="required">
    </fieldset>

    <fieldset class="form-group" class="col-md-6">
      <label>Date of birth</label>
      <input type="date" [ngModel]="dateOfBirth | date:'yyyy-MM-dd'" (ngModelChange)="dateOfBirth = $event"
        class="form-control" name="password" required="required">
    </fieldset>

    <fieldset class="form-group" class="col-md-6">
      <label>Phone number</label>
      <input type="text" [(ngModel)] = "phone" class="form-control" name="password" required="required">
    </fieldset><br>

    <fieldset class="form-group" class="col-md-6">
      <input type="checkbox" [(ngModel)] = "privacy" name="privacy" id="privacy">
      <label class="checkbox-inline" for="privacy">&nbsp;Private</label>
    </fieldset>

    <button class="btn btn-success" (click)=update()>Update</button>

  </form>

</div>