<div class="container row">
  <div class="col-md-12">
    <!-- <h1>Upload Image</h1> -->
  </div>
</div>
<div class="container row">
  <div class="col-md-3">
    <input type="file" (change)="onFileChanged($event)">
  </div>
    <div class="col-md-3">
      <input type="button" (click)="share()" value="Share">
    </div>
  </div>

<hr />
<div class="container row">
  <div class="col-md-12">
    <div *ngIf=message>{{message}}</div>
  </div>
</div>
<!-- 
<div class="container row">
  <div class="col-md-6">
    <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName" name="name" />
  </div>
  <div class="col-md-6">
    <input type="button" (click)="getImage()" value="Get Image">
  </div>
</div> -->

<div class="container row">
  <div class="col-md-6">
    <div *ngIf=retrievedImage>
      <img [src]="retrievedImage" alt="Slika nije nadjena" width=40% height=80%>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Username: </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span><input type="text" [(ngModel)]="username" class="col-sm-4" class="form-control-plaintext" name="username" required="required"
        readonly></span>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">First name: </label>
      <span><input type="text" [(ngModel)]="firstName" class="col-sm-4" class="form-control-plaintext" name="firstName" required="required"
        readonly></span>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Last name: </label>
      <span><input type="text" [(ngModel)]="lastName" class="col-sm-4" class="form-control-plaintext" name="lastName" required="required"
        readonly></span>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Email: </label>
      <span><input type="text" [(ngModel)]="email" class="col-sm-4" class="form-control-plaintext" name="email" required="required" readonly></span>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Date of birth: </label>
      <span><input type="date" [ngModel]="dateOfBirth | date:'yyyy-MM-dd'" (ngModelChange) = "dateOfBirth = $event"  class="col-sm-4" class="form-control-plaintext" name="dateOfBirth" required="required"
        readonly></span>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Phone number: </label>
      <span><input type="text" [(ngModel)]="phone" class="col-sm-4" class="form-control-plaintext" name="phone" required="required" readonly></span>
    </div>

    <input type="button" (click)="change()" value="Change">
  </div>
</div>

<!-- <div class="container row">
  <div class="col-md-6">
    <input type="button" (click)="share()" value="Share">
  </div>
</div> -->