<div class="container row" *ngFor="let profile of profiles">
  <div class="col-sm-6">
    <img src="{{image}}{{profile.picByte}}" width="40%" height="80%">
  </div>

  <div class="col-sm-6">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">First name: </label>
      <span><input type="text" [(ngModel)]="profile.firstName" class="col-sm-4" class="form-control-plaintext" name="firstName" readonly></span>
      <label class="col-sm-4 col-form-label">Last name:</label>
      <span><input type="text" [(ngModel)]="profile.lastName" class="col-sm-4" class="form-control-plaintext" name="lastName" readonly></span>
      &nbsp;&nbsp;
      <button class="col-sm-3 col-form-button" (click)="addFriend(profile.id)">Follow</button>
    </div>
  </div>
</div>