<div class="container row">
  <div class="col-sm-6">
    <img src="" width="40%" height="80%">
  </div>

  <div class="col-sm-6">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">First name: </label>
      <span><input type="text" [(ngModel)]="firstName" class="col-sm-4" class="form-control-plaintext" name="firstName" readonly></span>
      <label class="col-sm-4 col-form-label">Last name:</label>
      <span><input type="text" [(ngModel)]="lastName" class="col-sm-4" class="form-control-plaintext" name="lastName" readonly></span>
      &nbsp;&nbsp;<button class="col-sm-3 col-form-button">Follow</button>
    </div>
  </div>

  <hr>
</div>