<h1>Registration</h1>

<div class="container">

  <form>
    <fieldset class="form-group">
      <label>Username</label>
      <input type="text" [(ngModel)]="username" class="form-control" name="username" required="required">
    </fieldset>

    <fieldset class="form-group">
      <label>Password</label>
      <input type="password" [(ngModel)]="password" class="form-control" name="password" required="required">
    </fieldset>

    <fieldset class="form-group">
      <label>First Name</label>
      <input type="text" [(ngModel)]="firstName" class="form-control" name="firstName" required="required">
    </fieldset>

    <fieldset class="form-group">
      <label>Last Name</label>
      <input type="text" [(ngModel)]="lastName" class="form-control" name="lastName" required="required">
    </fieldset>

    <fieldset class="form-group">
      <label>Email</label>
      <input type="text" [(ngModel)]="email" class="form-control" name="email" required="required">
    </fieldset>

    <button class="btn btn-success" (click)="addUser()">Register</button>

  </form>

</div>